.lightFixture {
  display:flex;
  justify-content: space-around;
}

main {
  text-align: center;
  vertical-align: center;
  line-height: 100vh
}

.sample {
  width: 5vw;
  height: 5vw;
}

.switch {
  font-size: 3rem;
}